<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="StagingEntities" connectionString="metadata=res://*/Data.TextMessageStaging.csdl|res://*/Data.TextMessageStaging.ssdl|res://*/Data.TextMessageStaging.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.2.104;user id=textMessages;password=ryantate314;persistsecurityinfo=True;database=textMessages_staging&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>